@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/*Navbar Styles*/

ul li{
  font-family: 'Anton', sans-serif;
}


/*Home Styles*/

.gabb-tapic{
  background-image: url("../images/gabb-tapic.jpg");
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 1200px;
  background-position: center;
  background-size: cover;
  background-color: crimson;
}

.neemias-seara{
  background-image: url("../images/neemias-seara.jpg");
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 1200px;
  background-position: center;
  background-size: cover;
  background-color: crimson;
}

.ivan-oboleninov{
  background-image: url("../images/ivan-oboleninov.jpg");
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 1200px;
  background-position: center;
  background-size: cover;
  background-color: crimson;
}

.vova-krasilnikov{
  background-image: url("../images/vova-krasilnikov.jpg");
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 1200px;
  background-position: center;
  background-size: cover;
  background-color: crimson;
}

/*Login Styles*/

.login-bg-img{
  background-image: url("../images/login-bg.png");
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
  background-color: crimson;
}


/*Footer Styles*/

.footer ul li{
  font-family: 'Roboto', 'sans-serif';
}