<div class="footer container max-w-full bg-gray-400 p-20">
  <div class="flex flex-row">
    <div class="w-1/3 px-10 py-4 m-4">
      <p class="my-2"><strong>COLECCIONES</strong></p>
      <ul>
        <li class="my-2">Hombre</li>
        <li class="my-2">Mujer</li>
        <li class="my-2">Accesorios</li>
      </ul>
    </div>
    <div class="w-1/3 px-10 py-4 m-4">
      <p class="my-2"><strong>REDES SOCIALES</strong></p>
      <ul>
        <li class="my-2">Facebook</li>
        <li class="my-2">Instagram</li>
        <li class="my-2">Youtube</li>
      </ul>
    </div>
    <div class="w-1/3 px-10 py-4 m-4">
      <p class="my-2"><strong>AYUDA</strong></p>
      <ul>
        <li class="my-2">Contacto</li>
        <li class="my-2">Sobre nosotros</li>
        <li class="my-2">Aviso de privacidad</li>
      </ul>
    </div>
  </div>
</div>

</body>

</html>