<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../public/css/normalize.css">
  <link rel="stylesheet" href="../../public/css/final.css">
  <title>Hi five</title>
</head>

<body>

  <header>
    <nav class="text-center bg-black py-10">
      <img class="inline-flex" src="../../public/images/hifive-white.png" alt="hifive-logo">
      <ul class="inline-flex">
        <li class="mx-10"><a class="text-white" href="/">Inicio</a></li>
        <li class="mx-10"><a class="text-white" href="/mujer">Mujer</a></li>
        <li class="mx-10"><a class="text-white" href="/hombre">Hombre</a></li>
        <li class="mx-10"><a class="text-white" href="#">Accesorios</a></li>
        <li class="mx-10"><a class="text-white" href="#">Sobre nosotros</a></li>
      </ul>
    </nav>

    <div class="flex float-right mx-4 -my-6">
      <a class="text-white mx-4" href="/carrito">Carrito</a>
      <a class="text-white mx-4" href="/compras">Compras</a>
      <a class="text-white mx-4" href="/login">Cerrar sesión</a>
    </div>
  </header>