<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../public/css/normalize.css">
  <link rel="stylesheet" href="../../public/css/final.css">
  <title>Hi five</title>
</head>

<body>
  <div class="bg-black py-4">
    <img class="ml-auto mr-auto" src="../../public/images/hifive-white.png" alt="hifive-logo">
  </div>