<%- include('../partials/simpleNav'); -%>

<p>Bienvenido <strong><%=theUser.name%></strong></p>
<p>Hoy es: <%=theDate%></p>

<div class="container max-w-full">
  <!--REGISTRAR USUARIO-->
  <div class="flex flex-column my-4">
    <div class="container mx-auto">
      <h1 class="text-center text-4xl my-4">Registrar usuario</h1>

      <form action="/admin" method="post">

        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="user_name">Nombre usuario</label>
          <input class="ml-auto mr-auto border-solid border-black" type="text" name="name" id="name">
        </div>
        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="user_rol">Tipo</label>
          <input class="ml-auto mr-auto border-solid border-black" type="text" name="usertype" id="type">
        </div>
        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="user_email">Correo</label>
          <input class="ml-auto mr-auto border-solid border-black" type="email" name="email" id="email">
        </div>
        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="user_password">Contraseña</label>
          <input class="ml-auto mr-auto border-solid border-black" type="password" name="password"
            id="password">
        </div>

        <div class="flex flex-row m-8">
          <button
            class="ml-auto mr-auto bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-8 border-b-4 border-blue-700 hover:border-blue-500 rounded" type="submit">
            Registrar usuario
          </button>
        </div>

      </form>
    </div>
  </div>

  <!--MODIFICAR USUARIO-->
  <div class="container max-w-full">
    <div class="container ml-auto mr-auto">
      <h1 class="text-center text-4xl my-4">Modificar usuario</h1>
  
      <form action="/modificaru" method="post">
        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="user_id">Id del usuario a modificar</label>
          <input class="ml-auto mr-auto border-solid border-black" type="number" name="id" id="id">
        </div>
        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="user_name">Nombre usuario</label>
          <input class="ml-auto mr-auto border-solid border-black" type="text" name="name" id="name">
        </div>
        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="user_rol">Tipo</label>
          <input class="ml-auto mr-auto border-solid border-black" type="text" name="usertype" id="type">
        </div>
        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="user_email">Correo</label>
          <input class="ml-auto mr-auto border-solid border-black" type="email" name="email" id="email">
        </div>
        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="user_password">Contraseña</label>
          <input class="ml-auto mr-auto border-solid border-black" type="password" name="password"
            id="password">
        </div>
  
        <div class="flex flex-row m-8">
          <button
            class="ml-auto mr-auto bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-8 border-b-4 border-blue-700 hover:border-blue-500 rounded" type="submit">
            Modificar usuario
          </button>
        </div>
  
      </form>
    </div>
  </div>



  <!--BUSCAR USUARIO-->
  <div class="flex flex-column my-4">

    <div class="container mx-auto">
      <h1 class="text-center text-4xl my-4">Buscar usuario</h1>

      <form action="/buscaru" method="post">
        <div class="flex flex-row m-8">
          <label class="ml-auto mr-auto" for="u-search_id">Ingrese ID del usuario a buscar: </label>
          <input class="ml-auto mr-auto border-solid border-black" type="number" name="id" id="u-search_id">
        </div>

        <div class="flex flex-row m-8">
          <button
            class="ml-auto mr-auto bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-8 border-b-4 border-blue-700 hover:border-blue-500 rounded" type="submit">
            Buscar usuario
          </button>
        </div>

      </form>
    </div>
  </div>


<!--ELIMINAR USUARIO-->
<div class="flex flex-column my-4">

  <div class="container mx-auto">
    <h1 class="text-center text-4xl my-4">Eliminar usuario</h1>

    <form action="/eliminaru" method="post">
      <div class="flex flex-row m-8">
        <label class="ml-auto mr-auto" for="product_id">Ingrese ID del usuario a eliminar: </label>
        <input class="ml-auto mr-auto border-solid border-black" type="number" name="id" id="product_id">
      </div>

      <div class="flex flex-row m-8">
        <button
          class="ml-auto mr-auto bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-8 border-b-4 border-blue-700 hover:border-blue-500 rounded" type="submit">
          Eliminar usuario
        </button>
      </div>

    </form>

  </div>
</div>

  <!-- BOTON PARA MOSTRAR USUARIOS -->

<div class="flex flex-column my-4">
  <div class="container mx-auto">
    <a href="/mostraru"><button class="ml-auto mr-auto bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-8 border-b-4 border-blue-700 hover:border-blue-500 rounded">Ver todos los usuarios</button></a>
  </div>
</div>

</div>


<%- include('../partials/footer'); -%>