<%- include('../partials/simpleNav'); -%>

<div class="container max-w-full">
  <!--REGISTRAR PRODUCTO-->
  <div class="container ml-auto mr-auto">

    <h1 class="text-center text-4xl my-4">Registrar producto</h1>

    <form action="/almacen" method="post">
      <div class="flex flex-row m-8">
        <label class="ml-auto mr-auto" for="product_id">Id del producto</label>
        <input class="ml-auto mr-auto border-solid border-black" type="number" name="product_id" id="product_id">
      </div>
      <div class="flex flex-row m-8">
        <label class="ml-auto mr-auto" for="product_name">Nombre del producto</label>
        <input class="ml-auto mr-auto" type="text" name="product_name" id="product_name">
      </div>
      <div class="flex flex-row m-8">
        <label class="ml-auto mr-auto" for="product_price">Precio del producto</label>
        <input class="ml-auto mr-auto" type="number" name="product_price" id="product_price" step="0.01" min="0.01">
      </div>
      <div class="flex flex-row m-8">
        <label class="mx-4 ml-auto mr-auto" for="product_category">categoria del producto</label>
        <input class="mx-10 ml-auto mr-auto" type="text" name="product_category" id="product_category">
      </div>
      <div class="flex flex-row m-8">
        <label class="mx-4 ml-auto mr-auto" for="product_style">Estilo del producto</label>
        <input class="mx-16 ml-auto mr-auto" type="text" name="product_style" id="product_style">
      </div>
      <div class="flex flex-row m-8">
        <label class="mx-4 ml-auto mr-auto" for="product_desc">Descripcion del producto</label>
        <textarea class="mx-4 ml-auto mr-auto" name="product_desc" id="product_desc" cols="30" rows="10"></textarea>
      </div>

      <div class="flex flex-row m-8">
        <label class="mx-4 ml-auto mr-auto" for="image">Imágen: </label>
        <input class="mx-4 ml-auto mr-auto" type="file" name="image" required /> <br>
      </div>

      <div class="flex flex-row m-8">
        <button
          class="ml-auto mr-auto bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-8 border-b-4 border-blue-700 hover:border-blue-500 rounded">
          Registrar producto
        </button>
      </div>

    </form>
  </div>
</div>

<!--BUSCAR PRODUCTO-->
<div class="flex flex-column my-4">

  <div class="container mx-auto">
    <h1 class="text-center text-4xl my-4">Buscar producto</h1>

    <form action="" method="post">
      <div class="flex flex-row m-8">
        <label class="ml-auto mr-auto" for="product_id">Ingrese ID del producto a buscar: </label>
        <input class="ml-auto mr-auto border-solid border-black" type="number" name="product_id" id="product_id">
      </div>
      <div class="flex flex-row m-8">
        <label class="ml-auto mr-auto" for="product_name">Ingrese nombre del producto a buscar: </label>
        <input class="ml-auto mr-auto border-solid border-black" type="text" name="product_name" id="product_name">
      </div>
      <div class="flex flex-row m-8">
        <label class="ml-auto mr-auto" for="product_price">Ingrese precio del producto a buscar: </label>
        <input class="ml-auto mr-auto border-solid border-black" type="number" name="product_price" id="product_price">
      </div>

      <div class="flex flex-row m-8">
        <button
          class="ml-auto mr-auto bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-8 border-b-4 border-blue-700 hover:border-blue-500 rounded">
          Buscar producto
        </button>
      </div>

    </form>

  </div>

</div>


<!--MOSTRAR PRODUCTO-->
<div class="flex flex-column my-4">

  <div class="container mx-auto">

    <h1 class="text-center text-4xl my-4">Mostrar productos</h1>

    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  ID Producto
                </th>
                <th
                  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Nombre
                </th>
                <th
                  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Precio
                </th>
                <th
                  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Categoria
                </th>
                <th
                  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Estilo
                </th>
                <th
                  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Descripcion
                </th>
                <th class="px-6 py-3 bg-gray-50"></th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 font-medium text-gray-900">
                    12345
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">Star Jeans</div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">$199.99</div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">Jeans</div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">Casual</div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </td>
              </tr>

              <!-- More rows... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<%- include('../partials/footer'); -%>