<%- include('../partials/navbar'); -%>

<p>Bienvenido <strong><%=theUser.name%></strong></p>
<p>Hoy es: <%=theDate%></p>

<div class="container mx-auto px-20 my-10">
  <div class="home-image gabb-tapic">
    <div class="h-48 text-center text-white bg-gray-400 bg-opacity-25">
      <h3 class="text-6xl">Rojo, como tu pasión.</h3><br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</div>

<div class=" container mx-auto px-20 my-10">
  <div class="home-image neemias-seara">
    <div class="h-48 text-center text-white bg-gray-400 bg-opacity-25">
      <h3 class="text-6xl">Estilo tropical.</h3><br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</div>

<div class="container mx-auto px-20 my-10">
  <div class="home-image ivan-oboleninov">
    <div class="h-48 text-center text-white bg-gray-400 bg-opacity-25">
      <h3 class="text-6xl">Vive joven.</h3><br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</div>

<div class="container mx-auto px-20 my-10">
  <div class="home-image vova-krasilnikov">
    <div class="h-48 text-center text-white bg-gray-400 bg-opacity-25">
      <h3 class="text-6xl">Fresco como aire.</h3><br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</div>

<%- include('../partials/footer'); -%>